In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

Load training and testing data

In [2]:
# Load Training Data
train_data = pd.read_csv("input/training_set_VU_DM.csv")
train_data.head()

# Load Test Data
test_data = pd.read_csv("input/test_set_VU_DM.csv")
test_data.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,14142,2,3.5,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,22393,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,24194,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Display attributes

In [3]:
train_data.info(null_counts=True)
test_data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   srch_id                      4958347 non-null  int64
 1   date_time                    4958347 non-null  object
 2   site_id                      4958347 non-null  int64
 3   visitor_location_country_id  4958347 non-null  int64
 4   visitor_hist_starrating      251866 non-null   float64
 5   visitor_hist_adr_usd         252988 non-null   float64
 6   prop_country_id              4958347 non-null  int64
 7   prop_id                      4958347 non-null  int64
 8   prop_starrating              4958347 non-null  int64
 9   prop_review_score            4950983 non-null  float64
 10  prop_brand_bool              4958347 non-null  int64
 11  prop_location_score1         4958347 non-null  float64
 12  prop_location_score2         3867999 non-null  float64
 13  prop_log_historical_price    4958347 non-null  float64
 14  position                     4958347 non-null  int64
 15  price_usd                    4958347 non-null  float64
 16  promotion_flag               4958347 non-null  int64
 17  srch_destination_id          4958347 non-null  int64
 18  srch_length_of_stay          4958347 non-null  int64
 19  srch_booking_window          4958347 non-null  int64
 20  srch_adults_count            4958347 non-null  int64
 21  srch_children_count          4958347 non-null  int64
 22  srch_room_count              4958347 non-null  int64
 23  srch_saturday_night_bool     4958347 non-null  int64
 24  srch_query_affinity_score    317406 non-null   float64
 25  orig_destination_distance    3350565 non-null  float64
 26  random_bool                  4958347 non-null  int64
 27  comp1_rate                   119930 non-null   float64
 28  comp1_inv                    129559 non-null   float64
 29  comp1_rate_percent_diff      94439 non-null    float64
 30  comp2_rate                   2024672 non-null  float64
 31  comp2_inv                    2130269 non-null  float64
 32  comp2_rate_percent_diff      556238 non-null   float64
 33  comp3_rate                   1534288 non-null  float64
 34  comp3_inv                    1650990 non-null  float64
 35  comp3_rate_percent_diff      472797 non-null   float64
 36  comp4_rate                   307378 non-null   float64
 37  comp4_inv                    343663 non-null   float64
 38  comp4_rate_percent_diff      131086 non-null   float64
 39  comp5_rate                   2222373 non-null  float64
 40  comp5_inv                    2360020 non-null  float64
 41  comp5_rate_percent_diff      841099 non-null   float64
 42  comp6_rate                   240157 non-null   float64
 43  comp6_inv                    260976 non-null   float64
 44  comp6_rate_percent_diff      96174 non-null    float64
 45  comp7_rate                   315348 non-null   float64
 46  comp7_inv                    356422 non-null   float64
 47  comp7_rate_percent_diff      138515 non-null   float64
 48  comp8_rate                   1916654 non-null  float64
 49  comp8_inv                    1987503 non-null  float64
 50  comp8_rate_percent_diff      614730 non-null   float64
 51  click_bool                   4958347 non-null  int64
 52  gross_bookings_usd           138390 non-null   float64
 53  booking_bool                 4958347 non-null  int64
dtypes: float64(34), int64(19), object(1)
memory usage: 2.0+ GB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959183 entries, 0 to 4959182
Data columns (total 50 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   srch_id                      4959183 non-null  int64
 1   date_time                    4959183 non-null  object
 2   site_id                      4959183 non-null  int64
 3   visitor_location_country_id  4959183 non-null  int64
 4   visitor_hist_starrating      253431 non-null   float64
 5   visitor_hist_adr_usd         254624 non-null   float64
 6   prop_country_id              4959183 non-null  int64
 7   prop_id                      4959183 non-null  int64
 8   prop_starrating              4959183 non-null  int64
 9   prop_review_score            4951917 non-null  float64
 10  prop_brand_bool              4959183 non-null  int64
 11  prop_location_score1         4959183 non-null  float64
 12  prop_location_score2         3871151 non-null  float64
 13  prop_log_historical_price    4959183 non-null  float64
 14  price_usd                    4959183 non-null  float64
 15  promotion_flag               4959183 non-null  int64
 16  srch_destination_id          4959183 non-null  int64
 17  srch_length_of_stay          4959183 non-null  int64
 18  srch_booking_window          4959183 non-null  int64
 19  srch_adults_count            4959183 non-null  int64
 20  srch_children_count          4959183 non-null  int64
 21  srch_room_count              4959183 non-null  int64
 22  srch_saturday_night_bool     4959183 non-null  int64
 23  srch_query_affinity_score    318158 non-null   float64
 24  orig_destination_distance    3350504 non-null  float64
 25  random_bool                  4959183 non-null  int64
 26  comp1_rate                   115876 non-null   float64
 27  comp1_inv                    124874 non-null   float64
 28  comp1_rate_percent_diff      90468 non-null    float64
 29  comp2_rate                   2015961 non-null  float64
 30  comp2_inv                    2121269 non-null  float64
 31  comp2_rate_percent_diff      553609 non-null   float64
 32  comp3_rate                   1524985 non-null  float64
 33  comp3_inv                    1641231 non-null  float64
 34  comp3_rate_percent_diff      471210 non-null   float64
 35  comp4_rate                   312721 non-null   float64
 36  comp4_inv                    348808 non-null   float64
 37  comp4_rate_percent_diff      133127 non-null   float64
 38  comp5_rate                   2221921 non-null  float64
 39  comp5_inv                    2360813 non-null  float64
 40  comp5_rate_percent_diff      839907 non-null   float64
 41  comp6_rate                   242330 non-null   float64
 42  comp6_inv                    263169 non-null   float64
 43  comp6_rate_percent_diff      97138 non-null    float64
 44  comp7_rate                   315729 non-null   float64
 45  comp7_inv                    356753 non-null   float64
 46  comp7_rate_percent_diff      139323 non-null   float64
 47  comp8_rate                   1902389 non-null  float64
 48  comp8_inv                    1972885 non-null  float64
 49  comp8_rate_percent_diff      610977 non-null   float64
dtypes: float64(33), int64(16), object(1)
memory usage: 1.8+ GB

Display the date with

Use probability classifier

In [17]:
from sklearn.ensemble import RandomForestClassifier

features = ['site_id', 'visitor_location_country_id', 'prop_country_id', 'prop_id', 'prop_starrating', 'prop_brand_bool', 'prop_location_score1', 'prop_log_historical_price', 'price_usd', 'promotion_flag', 'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count', 'srch_saturday_night_bool', 'random_bool']
y = train_data['booking_bool']

X = train_data[features]
X_test = test_data[features]

model = RandomForestClassifier(n_estimators=20, max_depth=20)

model.fit(X, y)
predictions = model.predict_proba(X_test)

print("Finished")

Finished

In [18]:
print(predictions[0:100])

[[9.66720210e-01 3.32797904e-02]
 [9.67518094e-01 3.24819065e-02]
 [9.73571855e-01 2.64281445e-02]
 [9.77547677e-01 2.24523231e-02]
 [9.55504987e-01 4.44950125e-02]
 [9.54574513e-01 4.54254872e-02]
 [9.57773596e-01 4.22264038e-02]
 [9.67908737e-01 3.20912633e-02]
 [9.63088049e-01 3.69119511e-02]
 [9.40192006e-01 5.98079944e-02]
 [9.89239142e-01 1.07608577e-02]
 [9.89945265e-01 1.00547353e-02]
 [9.38700565e-01 6.12994349e-02]
 [9.62784684e-01 3.72153162e-02]
 [9.51979573e-01 4.80204272e-02]
 [9.87541615e-01 1.24583847e-02]
 [9.60897549e-01 3.91024507e-02]
 [9.62894698e-01 3.71053025e-02]
 [9.63467974e-01 3.65320259e-02]
 [9.74053946e-01 2.59460543e-02]
 [9.07212635e-01 9.27873645e-02]
 [9.76978224e-01 2.30217763e-02]
 [9.53132226e-01 4.68677736e-02]
 [9.31106026e-01 6.88939738e-02]
 [9.65667185e-01 3.43328146e-02]
 [9.36084780e-01 6.39152200e-02]
 [9.74556625e-01 2.54433746e-02]
 [9.77946149e-01 2.20538509e-02]
 [9.83715488e-01 1.62845124e-02]
 [9.48444775e-01 5.15552247e-02]
 [9.57341908e-01 4.26580918e-02]
 [9.71184904e-01 2.88150962e-02]
 [9.66673078e-01 3.33269223e-02]
 [9.52756507e-01 4.72434926e-02]
 [9.66133345e-01 3.38666549e-02]
 [9.54285802e-01 4.57141978e-02]
 [9.69614130e-01 3.03858704e-02]
 [9.87419175e-01 1.25808249e-02]
 [9.18995976e-01 8.10040239e-02]
 [9.83556262e-01 1.64437384e-02]
 [9.68943602e-01 3.10563980e-02]
 [9.70778543e-01 2.92214566e-02]
 [9.68158640e-01 3.18413602e-02]
 [9.73178471e-01 2.68215294e-02]
 [9.54051208e-01 4.59487917e-02]
 [9.65999305e-01 3.40006951e-02]
 [9.73008655e-01 2.69913448e-02]
 [9.52494773e-01 4.75052271e-02]
 [9.72024644e-01 2.79753555e-02]
 [9.64917067e-01 3.50829326e-02]
 [9.75341717e-01 2.46582828e-02]
 [9.86672188e-01 1.33278123e-02]
 [9.39947498e-01 6.00525018e-02]
 [9.52148274e-01 4.78517260e-02]
 [9.62697362e-01 3.73026382e-02]
 [9.71164913e-01 2.88350871e-02]
 [9.99950243e-01 4.97568729e-05]
 [9.99631845e-01 3.68154593e-04]
 [9.99898691e-01 1.01309170e-04]
 [9.99898691e-01 1.01309170e-04]
 [9.99541381e-01 4.58618644e-04]
 [9.99423566e-01 5.76433594e-04]
 [9.99506660e-01 4.93339818e-04]
 [9.99266652e-01 7.33348416e-04]
 [9.99353448e-01 6.46551724e-04]
 [9.98852805e-01 1.14719546e-03]
 [9.79019761e-01 2.09802385e-02]
 [9.61700847e-01 3.82991529e-02]
 [9.77003666e-01 2.29963338e-02]
 [9.75609958e-01 2.43900419e-02]
 [9.70570665e-01 2.94293352e-02]
 [9.76515026e-01 2.34849744e-02]
 [9.83495879e-01 1.65041211e-02]
 [9.47251137e-01 5.27488632e-02]
 [9.74232305e-01 2.57676946e-02]
 [9.77424647e-01 2.25753532e-02]
 [9.73897979e-01 2.61020206e-02]
 [9.72577425e-01 2.74225748e-02]
 [9.31083018e-01 6.89169817e-02]
 [9.86304838e-01 1.36951620e-02]
 [9.89534910e-01 1.04650902e-02]
 [9.81591635e-01 1.84083654e-02]
 [9.79278626e-01 2.07213739e-02]
 [9.78681862e-01 2.13181378e-02]
 [9.50295212e-01 4.97047881e-02]
 [9.56566879e-01 4.34331213e-02]
 [9.83150371e-01 1.68496290e-02]
 [9.55282304e-01 4.47176964e-02]
 [9.82366880e-01 1.76331204e-02]
 [8.63616113e-01 1.36383887e-01]
 [9.22587841e-01 7.74121593e-02]
 [9.27919167e-01 7.20808326e-02]
 [9.89796695e-01 1.02033050e-02]
 [9.63260510e-01 3.67394901e-02]
 [9.69880607e-01 3.01193926e-02]
 [9.73982685e-01 2.60173147e-02]
 [9.63882030e-01 3.61179701e-02]
 [9.65094331e-01 3.49056694e-02]
 [9.71171705e-01 2.88282948e-02]
 [9.70042658e-01 2.99573421e-02]]

Sort and output

In [40]:
result = pd.DataFrame({'srch_id': test_data.srch_id, 'prop_id': test_data.prop_id, 'value': predictions[:,1]})
output = result.sort_values(by=['srch_id', 'value'], ascending = (True, False))[['srch_id', 'prop_id']]
# print(output)

output.to_csv('output/my_submission.csv', index=False)
print('Your submission was successfully saved!')

Your submission was successfully saved!